In [1]:
#We Use Pandas for Data Handling
import pandas as pd

In [3]:
#Series is a part of dataframe
obj = pd.Series([4, 5, -1, 0])
print(obj)
#obj is of pandas series type, and data inside is a ndim array of numpy

0    4
1    5
2   -1
3    0
dtype: int64

In [8]:
#Series has two things "values" and "index"
print(obj.values)
print(obj.index)

[ 4  5 -1  0]
RangeIndex(start=0, stop=4, step=1)

In [11]:
#We can assign our own index
sales = pd.Series([100, 200, 300, 400], index=['a', 'b', 'c', 'd'])
print(sales)
print(sales.index)

a    100
b    200
c    300
d    400
dtype: int64
Index(['a', 'b', 'c', 'd'], dtype='object')

In [12]:
sales = pd.Series([100, 200, 300, 400], index=['a', 'b', 'c', 'd'], name="Sales Data")
print(sales)

a    100
b    200
c    300
d    400
Name: Sales Data, dtype: int64

In [15]:
#Accessing series data
#numpy style
print(sales[1])
#pandas style that is through index
print(sales["b"])

200
200

In [16]:
#For accessing multiple values we need to use array notation
print(sales[[2, 3]])
print(sales[["c", "d"]])

c    300
d    400
Name: Sales Data, dtype: int64
c    300
d    400
Name: Sales Data, dtype: int64

In [17]:
#We can also do conditional selection
print(sales[sales>250])

c    300
d    400
Name: Sales Data, dtype: int64

In [18]:
sales * 2

a    200
b    400
c    600
d    800
Name: Sales Data, dtype: int64

In [29]:
'a' in sales

True

In [32]:
#Converting different datatype data into pandas series
#1- Numpy Array
import numpy as np
arr = np.array([1,2,3,4])
ind = np.array(['a', 'b', 'c', 'd'])
obj2 = pd.Series(arr, index=ind, name="Object 2")
print(obj2)

a    1
b    2
c    3
d    4
Name: Object 2, dtype: int32

In [35]:
#2- Dictionary
states = {"Sindh": 45000, "Balochistan": 39000, "Punjab": 59000, "KPK": 50000}
obj_dict = pd.Series(states, name="Dictionary Object")
obj_dict

Sindh          45000
Balochistan    39000
Punjab         59000
KPK            50000
Name: Dictionary Object, dtype: int64

In [37]:
# Changing index positing location also rearrange the values respectively
obj_dict = pd.Series(states, index = ['Balochistan', 'KPK', 'Sindh', 'Punjab'])
print(obj_dict)

Balochistan    39000
KPK            50000
Sindh          45000
Punjab         59000
dtype: int64

In [42]:
#Missing value is replaced by NaN
obj_dict = pd.Series(states, index = ['Balochistan', 'KPK', 'Sindh', 'Punjab', 'Gilgit'])

In [44]:
print(pd.isnull(obj_dict))
print(obj_dict.isnull())

Balochistan    False
KPK            False
Sindh          False
Punjab         False
Gilgit          True
dtype: bool
Balochistan    False
KPK            False
Sindh          False
Punjab         False
Gilgit          True
dtype: bool

In [46]:
obj_dict.index.name = "States Index"
obj_dict.name = "States"
print(obj_dict)

States Index
Balochistan    39000.0
KPK            50000.0
Sindh          45000.0
Punjab         59000.0
Gilgit             NaN
Name: States, dtype: float64